body {
  background: $color-background;
}

main {
  background: $color-back;
  padding: 2em;
  color: $color-text;
}

$max: 100;
$color-switch: 1;

@for $i from 1 to $max {
  $height: .6 + random(1) + em;
  $height: 4em;
  $color-switch: random(3);
  $pos-y: 50%;
  $pos-x: 50%;
  // $pos-y: random(100) + %;*//* $pos-x: random(100) + % ;
  $rotate: random(360) + deg;

  @if $color-switch == 1 {
    .ribbon-#{$i} {
      background: $color-1;
      border: 3px solid $color-background;
      height: $height;
      left: $pos-x;
      top: $pos-y;
      transform: rotate($rotate) translate(-50%);
    }
  }

  @if $color-switch == 2 {
    .ribbon-#{$i} {
      background: $color-2;
      height: $height;
      top: $pos-y;
      left: $pos-x;
      transform: rotate($rotate) translate(-50%);
      border: 3px solid $color-background;
    }
  }

  @if $color-switch==3 {
    .ribbon-#{$i} {
      background: $color-3;
      height: $height;
      top: $pos-y;
      left: $pos-x;
      transform: rotate($rotate) translate(-50%);
      border: 3px solid $color-background;
    }
  }/* @debug $i;*//* @debug $height;*//* @debug $color-switch;*//* @debug $pos-y;*//* @debug $rotate;*/
}

[class*='ribbon'] {
  position: fixed;
  z-index: -1;
  width: 1000%;
  transform-origin: top left;
  opacity: .45;
}
