// card system

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4em;

  .nohits {
    width: 100%;
    text-align: center;
    color: $color-2;
  }

  .card {
    flex: 0 1 calc(33% - 2em);
    font-size: .9em;
    padding: .2em;
    padding-bottom: 1em;
    margin-top: 3em;
    position: relative;

    code {
      font-size: .9em !important;
      text-shadow: none !important;
      margin-bottom: 1em;
      text-transform: initial;
      background: transparent;
      padding: 0;
    }

    h2 {
      font-weight: 600;
      margin-top: 0;
      padding-left: 0;
      font-size: 1.2em;
      margin-bottom: 0;
      border-bottom: 1px solid $color-1;

      & + p {
        margin-top: .5em;
      }
    }

    p {
      text-align: left;
      font-size: .9em;
      line-height: 1.4;
    }

    .type {
      font-family: $font-head;
      text-transform: uppercase;
      font-size: .7em;

      &:hover {
        font-weight: 600;
      }
    }

    .link {
      margin-top: .2em;

      a {
        background: $color-1;
        color: white;
        border-color: lighten($color-1, 20%);
        font-family: $font-head;
        padding: .1em .3em;
        font-weight: normal;
        text-shadow: none;
        font-size: .8em;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    .card {
      flex: 0 1 calc(50% - 2em);
    }
  }
}

@media screen and (max-width: 600px) {
  .cards {
    .card {
      flex: 0 1 calc(100%);
    }
  }
}

/* type visual*/

.cards {
  .client {
    .type code {
      color: $color-2;
    }

    h2 {
      border-color: $color-1;
    }
  }

  .server {
    .type code {
      color: $color-3;
    }

    h2 {
      border-color: $color-3;
    }
  }

  .server.client {
    h2 {
      border-color: $color-3;
    }
  }

  .headlink {
    display: none;
  }
}

.cards .hidden {
  display: none !important;
}

.sortable {
  font-family: $font-head;
  margin: 0 auto;
  text-align: center;

  .filter-button {
    font-size: .7em;
    cursor: pointer;
    background: $color-1;
    display: inline-block;
    margin-right: 1em;
    padding: .3em .5em;
    color: black;
    background: lighten($color-1, 30%);
    transition: background .8s color .8s;
    margin-left: .3em;
  }

  .filterit {
    background: $color-1;
    color: white;
  }

  input {
    width: 100%;
    padding: 3px;
    border: 0;
    border-bottom: 2px solid $color-1;
    text-align: center;

    &:focus {
      outline: 0;
      border-bottom: 2px solid $color-2;
    }
  }

  .namefilter {
    width: 70%;
    margin: 0 auto;
  }

}
