// border bottom for links
@mixin realBorder($color, $colorback) {
  background: linear-gradient($colorback 0, $colorback 1.2em, $color 1.2em, $color 1.25em, $colorback 1.25em, $colorback 2em);
  text-shadow: 0.05em 0.05em 0 $colorback, -0.05em -0.05em 0 $colorback, -0.05em 0.05em 0 $colorback, 0.05em -0.05em 0 $colorback;
  background-repeat: no-repeat;
}

// special for code inside links
@mixin codeRealBorder($color, $colorback) {
  background: linear-gradient($colorback 0, $colorback 1.21em, $color 1.21em, $color 1.28em, $colorback 1.28em, $colorback 2em);
  text-shadow: 0.2em 0.2em 0 $colorback, -0.2em -0.2em 0 $colorback, -0.2em 0.2em 0 $colorback, 0.2em -0.2em 0 $colorback;
  background-repeat: no-repeat;
}
