// colors

$color-1 : #4FC4B9;
$color-2 : #FF3972;
$color-3 : #7E479A;



// type
$font-head: "Fira Sans";
$font-text: "Spectral";
$font-mono: "Fira Mono";

// if fira mono is not good enough
// $font-mono: monospace;




// background variables for the opening
$color-background : white; 
$color-back: white;
$color-logo: $color-1;
$color-text: black;



// font-colors
$color-underline : $color-2;
$color-link : inherit;

