meta(charset="utf-8")
title= title
meta(name="description", content="#{ description }")
meta(name="author", content="#{ name }")
meta(name="handheldfriendly", content="true")
meta(name="mobileoptimized", content="320")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="cleartype", content="on")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
link(rel="canonical" href="https://pubsweet.org")
script.
    if (("pubsweet.org" === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location = window.location.toString().replace(/^http:/, "https:");
    } else if ("www.pubsweet.org" === window.location.host) {
        window.location = window.location.toString().replace(/^(http|https):\/\/www\.pubsweet\.org/, "https://pubsweet.org");
    }
link(href="https://fonts.googleapis.com/css?family=Spectral:400,400i,600,600i,900,900i" rel="stylesheet")
link(rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css")
link(rel="stylesheet", href="/js/prism/prism.css")
link(rel="stylesheet", href="/css/docs.css")
script(src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js")
