:markdown
  # Component library
  
.sortable
  .namefilter
    input.search-input(placeholder="search components")

#cards.cards
  p.nohits.hidden No hits - try another search?
  for package in packages
    .card(class= package.type[1] ? "#{ package.type[0]} #{ package.type[1]}" : "#{ package.type[0]} ")
      p.type
        code= package.type
      h2.name
        code= package.name 
      p.description=  package.description
      p.link
        a(href= package.url, target="_blank") GET IT HERE
        
